.header{
   margin-top: 30px;
   margin-left: 350px;
   width: 700px;
   border: 2px solid black;
}

h1{
    margin: 20px 180px;
}

h4{
    margin-left: 2px;
}

#F_Name{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
}

#L_Name{
    margin-left: 10px;
    margin-bottom: 10px;
}

#Gender_Name{
    margin-left: 10px;
}

#Male{
    margin-left: 60px;
    margin-right: 10px;
}

#Female{
    margin-left: 60px;
    margin-right: 10px;
}

.Address{ 
    width: 200px; 
    margin-left: 10px;
    padding-left: 40px;
    border: 2px solid red;
}

.Select_State{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Testing{
    margin-left: 10px;
}

#Development{
    margin-left: 10px;
}

#Cloud{
    margin-left: 10px;
}




